.topBar__wrapper {
    width: 100%;
    height: 40px;
    background-color: var(--cultured);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.text {
    font-size: var(--fs-8);
    font-weight: var(--weight-400);
}